- var classes = [post.layout]
- if(post.categories && post.categories.length) {
-   post.categories.each(function (category) {
-     classes += ' cat-' + category.name
-   })
- }

article(class=classes)
  .post-header.u-cf
    //- !=partial('post/avatar')
    if post.link || post.title
      h2.post-title
        !=partial('post/title')
    !=partial('post/category')
    !=partial('post/date', {date_format: 'YYYY-MM-DD HH:mm'})
    !=partial('post/role')
    !=partial('post/tag')
  !=partial('post/links')
  .post-content
    !=partial('post/gallery')
    if post.excerpt && index
      !=post.excerpt
      if config.excerpt_link
        p.post-excerpt-link
          a(href!=url_for(post.path) + "#more") #{config.excerpt_link}
    else
      !=post.content
  if !index
    !=partial('post/nav')
  if !index && post.comments
    if config.disqus_shortname
      #disqus_thread
    else if config.duoshuo_shortname
      .ds-thread(data-thread-key="#{post.layout}-#{post.slug}" data-title=post.title data-url=post.permalink)
